 {% extends 'account/main.html' %}
{% block content %} 

    <div class="dropdown-content">
    <a href="/child_education">Child Education</a>
    <a href="/homeless_persion">Homeless Person</a>
    <a href="/health_care">Health care</a>
  	</div>

		{% for creation in creation2 %}

		<h1 style="font-size: 24px"><b>Title: </b>{{creation.Title}}</h1>
			<h2 style="font-size: 24px"><b>Date: </b>{{creation.Date}}</h2>
		
		<img src="{{creation.image.url}}" style="width: 750px; height: 550px; padding: 5px; border: 2px solid;"><br>
		
        <div>
			
			<h2 style="font-size: 24px"><b>Description: </b>{{creation.Description}}</h3>
        	<button style="width: 100px; height: 30px"><a href="{{creation.image.url}}" download="">Download</a></button><br><br>
	        <form action="{% url 'account:deletecreation' creation.pk %}" method="POST">
	    		{% csrf_token %}
	        	<button type="submit" style="width: 100px; height: 30px">Delete</button>
			</form>
		</div>
		{% endfor %}
		



</body>
</html>

	{% endblock %}